.todoItems {
    list-style: none
}
.todoItem {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
    position: relative
}
.todoItem > .anchor {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    margin-right: 5px 
}
.todoItem.done > .anchor{
    background: black
}

.todoItem > .delete {
    width: 10px;
    height: 10px;
    display: block;
    color: red;
    position: absolute;
    right: 0;
}