.sideNav{
    float: left;
    width: 280px;
    height: 100%;
    position: relative;
}

.sideNav.fold {
    width: 45px;
}
.menuBar {
    width: 100%;
    height: 45px;
    background-color: #0455d2;
}
.menuIcon > svg {
    width: 20px;
    height: 20px;
    fill: white;
    margin: 10px;
}

.userInfo {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.userInfo > img {
    width: 30px;
    height: 30px;
    border-radius: 50%; 
}
.userInfo .userName {
    margin: 0 10px;
}

.userInfo svg {
    width: 12px;
}

.list {
    width: 100%;
    overflow: scroll;
    height: calc(100% - (45px*3))
}

.list > li {
    padding: 10px 8px;
    display: flex;
    align-items: center;
}
 
.list > li svg {
    width: 25px;
    height: 25px;
    padding: 0 3px;
}
.list > li span {
    padding: 0 6px;
    font-size: 15px;
}

.list > li.schedule {
    color: #328ad6;
}

.list > li.calendar {
    color: green;
}


.addListContainer {
    position: absolute;
    bottom: 0;
    height: 45px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    color: #328ad6;
    border-top: 1px solid rgba(0, 0, 0, .1);
    background: #f7f7f7;
}

.addListContainer svg {
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.createListModalBg {
    background: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
}

.createListModal {
    background: white;
    width: 400px;
    height: 150px;
    position: fixed;
    padding: 0 20px;
    top: 25%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
}
.createListModal h2{
    margin: 10px 0;
    color: #328ad6;
}

.createListModal input[type='text']{
    font-size: 16px;
    width: 100%;
    height: 40px;
    line-height: 30px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

.createListModal input[type='text']:focus{
    outline: none;
    border-color: #328ad6; 
}

.createListModal div {
    width: 100%;
    margin: 15px 0 auto auto; 
    display: flex;
    justify-content: flex-end;
}

.createListModal button{
    width: 70px;
    border: none;
    /* background: lightblue; */
    padding: 5px 0px;
    border-radius: 2px;
    margin-left: 15px;
    border: 1px solid #ccc;
}

.createListModal button:focus{
    outline: none;
    border-color: #328ad6;
}

.createListModal button:hover{
    border-color: #328ad6;
    cursor: pointer;
}