.loginBg {
    width: 100%;
    height: 100%;
    background: url('./../../assets/background-01.jpg') no-repeat center;
    background-size: cover; 
    display: flex;
}

.panel {
    width: 400px;
    margin-left: 15%;
    height: 100%;
    margin-top: 180px;
}
.panel > h2 {
    color: #0455d2;
}
.loginForm {
    width: 100%;
}

.login-row {
    border-bottom: 1px solid #ccc;
    padding: 5px;
    position: relative;
}

.login-row input {
    width: 100%;
    border: none;
    margin-bottom: 5px;
    background: transparent;
}
.login-row input:focus {
    outline: none;
}

.login-row span {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    color: rgba(0,0,0,.4);
}

.loginBtn {
    margin-top: 5px;
    background: #0455d2;
    color: white;
    margin-bottom: 5px;
    position: relative;
}
.loginBtn:focus {
    opacity: .8;
    outline: none;
}
.loginBtn svg {
    width: 20px;
    position: absolute;
    top: 30%;
    right: 40%;
}
.loginOptions {
    width: 100%;
}
.loginOptions:after{
    content: '';
    display: block;
    clear: both;
}
.loginOptions a:first-child{
    float: left;
}
.loginOptions a:last-child{
    float: right;
}
