.todoItems {
    list-style: none;
    margin-top: 15px;
}
.todoItem {
    padding: 5px 0;
    position: relative;
    height: 45px;
    border-radius: 3px;
    background: white;
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-bottom: 2px;
    color: black;
}
.todoItem[active='yes'] {
    background: #d7ecfa;
}
.todoItem > .anchor {
    width: 17px;
    height: 17px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 10px;
}
.todoItem.done {
    text-decoration: line-through;
    background: #ccc;
    opacity: .5;
}
.todoItem.done svg {
    width: 17px;
    height: 17px;
    margin: 0 10px;
}

.todoItem > .delete {
    width: 10px;
    height: 10px;
    display: block;
    color: red;
    position: absolute;
    right: 0;
    top: 0;
}

.showCompleteBtn {
    margin: 5px 0;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(5,95,235,0.75);
    color: white;
    border-radius: 10px;
    letter-spacing: 2px;
}

.contextMenu {
    border: 1px solid #ccc;
    position: fixed;
    background: white;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 1px 1px 1px #ccc, -1px -1px 1px #ccc;
}

.contextMenu li {
    padding: 5px 10px;
}

.contextMenu li:hover{
    cursor: pointer;
    background: #d7ecfa;
}

.contextMenu li svg {
    margin-right: 5px;
}